{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <h2><b>Search Jobs</b></h2>
        <form
          class="form-signin mt-4"
          action=""
          method="get"
        >
          <input
            name="p"
            type="text"
            class="form-control"
            placeholder="Enter Job Title, Skills, Type or Company"
          /><br />
          <input
            name="q"
            type="text"
            class="form-control"
            placeholder="Enter Job Location"
          />
          <br />
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Search Jobs
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
          {% if user.is_authenticcated %}
          <p class="text-center">
            <b
              >Recruiters/Employers -
              <a href="recruiters:add_jobs">Post a Job</a></b
            >
          </p>
          {% else %}
          <p class="text-center">
            <b
              >Recruiters/Employers -
              <a href="recruiters:add_jobs">Post a Job</a></b
            >
          </p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">
                <b>Some Popular Search terms:</b><br />
              </h5>
              <hr my-2 />
  
              <form class="form-signin">
                <div class="form-group">
                  <a
                    class="btn btn-outline-primary mr-2 mt-2"
                    href=""
                    >Software</a
                  >
                  <a
                    class="btn btn-outline-info mr-2 mt-2"
                    href=""
                    >Internship</a
                  >
                  <a
                    class="btn btn-outline-danger mr-2 mt-2"
                    href=""
                    >Product Manager</a
                  >
                  <a
                    class="btn btn-outline-secondary mr-2 mt-2"
                    href=""
                    >Python</a
                  >
                  <a class="btn btn-outline-dark mr-2 mt-2" href=""
                    >Web</a
                  >
                  <a
                    class="btn btn-outline-danger mr-2 mt-2"
                    href=""
                    >Android</a
                  >
                  <a
                    class="btn btn-outline-success mr-2 mt-2"
                    href=""
                    >Analyst</a
                  >
                  <a
                    class="btn btn-outline-info mr-2 mt-2"
                    href=""
                    >Sales</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}